{% extends "layout.html" %}

{% block title %}runokanta{% endblock %}

{% block content %}
<h2>runot</h2>

{% if poems %}
  <ul>
    {% for poem in poems %}
      <li>
        <a href="/poem/{{ poem['id'] }}"><strong>{{ poem['title'] }}</strong></a> — {{ poem['username'] }}<br>        
        <small>{{ poem.published }}</small><br>
        <p>{{ poem.content }}</p>
      </li>
    {% endfor %}
  </ul>
  {% if page_count > 1 %}
  <p>
    {% if page > 1 %}
      <a href="/{{ page - 1 }}">&lt;&lt;</a>
    {% else %}
      &lt;&lt;
    {% endif %}
    Sivu {{ page }}/{{ page_count }}
    {% if page < page_count %}
      <a href="/{{ page + 1 }}">&gt;&gt;</a>
    {% else %}
      &gt;&gt;
    {% endif %}
  </p>
  <hr />
  {% endif %}
{% else %}
  <p>ei vielä runoja.</p>
{% endif %}
{% endblock %}